  .offre {
    display: flex;
    justify-content: center;
  }

  .boxoffre {
    transform: translateY(6rem) ;
    width: 50%;
    background-color: rgb(255, 255, 255);
    height: 30%;
    padding:2rem;
    margin: 2rem;
  }  
 
.publier{
  margin-bottom: 2rem;
}
  .form-item-double{
    display: flex;
    .form-item{
        flex: 1 1 auto;
    }
    .form-item:nth-child(1){
        padding-right: 16px;
    }
    .form-item:nth-child(2){
        padding-left: 16px;
    }
}



  .description {
   
      max-width: 453px; 
    
  }


   
  .btn-poster{
    width: 100%;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    cursor: pointer;
    padding: .6rem 1.5rem;
    color: white;
    font-size: 15px;
    background: #2062af  }


/* Ajustements pour les champs doubles */
@media screen and (max-width: 768px) {

  .form-item-double {
    flex-direction: column;
  }

  .form-item-double .form-item {
    width: 100%;
    padding: 0;
  }

  .form-item-double .form-item:nth-child(1) {
    padding-right: 0;
  }

  .form-item-double .form-item:nth-child(2) {
    padding-left: 0;
    margin-top: 16px; 
  }

}
 
@media screen and (max-width:768px) {
    
  .boxoffre {
      transform: translateY(6rem) ;
      width: 100%;
      background-color: rgb(255, 255, 255);
      padding:3rem;
      margin: 1rem;
      height: 100% ;
    }
    .margin-bottom{
      margin-bottom:2rem;
    }
}


