@charset "UTF-8";
:root {
  --PrimaryColor: #2062af;
  --SecondaryColor: hsl(187, 100%, 43%);
  --gradientColor: linear-gradient(to right, hsl(226, 91%, 38%), hsl(187, 90%, 38%));
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(201, 33%, 16%);
  --textColor: var(--whiteColor);
  --whiteColorDream: hsl(0, 0%, 93%);
  --greyText: rgb(190, 190, 190);
  --inputColor: rgb(190, 190, 190); /* Add your input color value */
  --bodyColor: rgb(240, 240, 246);
  --cardBG: rgb(190, 190, 190); /* Add your card background value */
}

.Footer {
  width: 100%;
  position: relative;
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.Footer .videoDiv {
  position: absolute;
  height: 100%;
  width: 100%;
}
.Footer .videoDiv video {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.Footer .secContent {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  row-gap: 2rem;
  z-index: 100;
}
.Footer .secContent .contactDiv {
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem;
  z-index: 100;
}
.Footer .secContent .contactDiv .text small {
  font-size: 13px;
  font-weight: 400;
  color: var(--whiteColor);
}
.Footer .secContent .contactDiv .text h2 {
  color: var(--whiteColor);
  font-size: 1.8rem;
}
.Footer .secContent .footerCard {
  position: relative;
  padding: 1rem 1rem 4rem;
  gap: 2rem;
  border-radius: 1rem;
  background-color: var(--bodyColor);
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
}
.Footer .secContent .footerIntro {
  flex-basis: 50%;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 0.5rem;
}
.Footer .secContent .logoDiv .logo {
  color: var(--PrimaryColor);
  font-weight: 600;
}
.Footer .secContent .logoDiv .logo .icon {
  font-size: 25px;
  color: var(--PrimaryColor);
  margin-right: 10px;
}
.Footer .secContent .footerParagraph {
  font-size: 13px;
  color: var(--blackColor);
}
.Footer .secContent .footerSocial {
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}
.Footer .secContent .footerSocial .icon {
  color: var(--blackColor);
  font-size: 20px;
}
.Footer .secContent .footerSocial .icon:hover {
  color: var(--PrimaryColor);
}
.Footer .secContent .footerLinks {
  flex-basis: 50%;
  width: 100%;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
}
.Footer .secContent .footerLinks .linkGroup .groupTitle {
  display: block;
  font-weight: 600;
  color: var(--blackColor);
  margin-bottom: 0.5rem;
}
.Footer .secContent .footerLinks .linkGroup .footerLists {
  font-size: 15px;
  color: var(--blackColor);
  transition: 0.3s ease-in-out;
}
.Footer .secContent .footerLinks .linkGroup .footerLists .icon {
  font-size: 15px;
  color: var(--greyText);
}
.Footer .secContent .footerLinks .linkGroup .footerLists:hover {
  color: var(--PrimaryColor);
  transform: translateX(7px);
}
.Footer .secContent .footerLinks .linkGroup .footerLists:hover .icon {
  color: var(--SecondaryColor);
}
.Footer .secContent .footerLinks .footerDiv {
  flex-direction: row; /* Modifier la direction en ligne */
  display: flex; /* Utiliser Flexbox */
  align-items: center; /* Aligner les éléments sur la même ligne verticalement */
  justify-content: center; /* Centrer les éléments horizontalement */
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #1868ae;
  padding: 0.5rem 2rem;
  color: white;
}
.Footer .secContent .footerLinks .footerDiv .icon {
  color: white;
  font-size: 1.7rem;
  margin-right: 10px;
  margin-top: -0.9rem;
}

@media screen and (min-width: 500px) {
  .Footer .secContent .footerCard {
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 1rem;
  }
  .Footer .secContent .footerDiv {
    font-size: 14px;
    flex-direction: row;
  }
}
/* Ajoutez ces styles à votre code CSS existant */
/* Pour les écrans de taille supérieure à 660px */
@media screen and (min-width: 660px) {
  .footerLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .linkGroup {
    flex-basis: 30%; /* Ajustez la largeur des groupes en fonction de vos besoins */
  }
}/*# sourceMappingURL=footer.css.map */