
  .boxdetail {
    transform: translateY(6rem) ;
    width: 50%;
    background-color: rgb(255, 255, 255);
    padding:2rem;
    margin: 2rem;
    height: 70% ;
  }
  .Description {
    display:flex;
    justify-content: center;
    background-color:rgb(255, 255, 255) ;
    // height: 100vh ;
    padding-bottom: 5rem;
    
  }
  .titre{
    margin-bottom: 0.5rem;
  }
  .Nom_Entreprise{
    margin-bottom: 0.5rem;
  }
  .detail{
    margin-bottom: 1rem;
  }  
.iconloc{
    font-size: 25px ;
    color: var(--PrimaryColor);
    transform: translateY(5px);
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}
  .content {
    padding: 2rem 0;
    line-height: 1.8em;
    border-top: 1px solid #e8eaf0;
}
.descriptionEntreprise{
    padding-right: 2rem;
}
.bold{
    color: var(--PrimaryColor);
}
.Postulerbtn{
     
}
.postuler {
  text-align: center;
}
.btn-postuler{
  padding: .6rem 0.7rem;
  background:#c6d7eb;
  color: var(--PrimaryColor);
  border-radius: 3rem;
  border: none;
  outline: none;
  cursor: pointer;
  display: inline-block; 
  width: 100%;
  font-size: 1rem;
}
@media screen and (max-width:768px) {
    
    .boxdetail {
        transform: translateY(6rem) ;
        width: 100%;
        background-color: rgb(255, 255, 255);
        padding:1rem;
        margin: 0rem;
        height: 100% ;
      }
}